In [151]:
import numpy as np
import sqlite3

In [152]:
conn = sqlite3.connect('students_db')
cur = conn.cursor()
courses = {}
file = open('classes.csv', 'r')
lines = file.readlines()
for index, line in enumerate(lines):
    arr = line.split(": ")
    c = arr[1].split(", ")
    c[0] = c[0][1:]
    c[-1] = c[-1][:-2]
    courses[arr[0]] = c
courses

{'CMSC330': ['TuTh|ESJ0202|9:30am|10:45am', 'F|IRB1207|12:00pm|12:50pm'],
 'CMSC351': ['MWF|ESJ0224|9:00am|9:50am'],
 'CMSC420': ['MW|ESJ1224|3:30pm|4:45pm'],
 'CMSC451': ['TuTh|CSI2117|11:00am|12:15pm'],
 'CMSC216': ['TuTh|IRB0324|9:30am|10:45am', 'MW|IRB1207|3:00pm|3:50pm'],
 'CMSC132': ['MWF|IRB0324|1:00pm|1:50pm', 'MW|CSI2118|12:00pm|12:50pm'],
 'MATH140': ['MWF|PHY1412|8:00am|8:50am', 'TuTh|MTH1308|8:00am|9:20am'],
 'MATH240': ['MWF|ARM0135|10:00am|10:50am', 'TuTh|MTHB0427|12:00pm|12:50pm'],
 'PHYS161': ['MWF|PHY1410|3:00pm|3:50pm', 'Tu|PHY1402|3:00pm|3:50pm'],
 'CHEM131': ['MWF|CHM1407|10:00am|10:50am', 'Tu|PHY2214|8:00am|8:50am'],
 'CMSC335': ['MW|ESJ0202|3:30pm|4:45pm'],
 'CMSC320': ['MW|IRB0324|3:30pm|4:45pm'],
 'CMSC470': ['MW|CSI2117|3:30pm|4:45pm'],
 'STAT400': ['TuTh|BRB1101|9:30am|10:45am', 'W|MTH0201|8:00am|8:50am']}

In [153]:
def add_student(student_name, student_id):
    cur.execute("SELECT * FROM students WHERE Student_ID = " + str(student_id))
    data = cur.fetchall()
    if data:
        print("Student with same ID already exists")
    else: 
        cur.execute("""INSERT INTO students (Student_ID, Student_Name) VALUES (?, ?);""", (student_id, student_name))
        conn.commit()
        print("Student added successfully")

In [154]:
add_student("Nelson Perez", 116274081)

Student with same ID already exists

In [155]:
def get_student_id(name):
    cur.execute("SELECT Student_ID FROM students WHERE Student_Name = '" + str(name) + "'")
    data = cur.fetchall()
    if data:
        return data[0][0]
    else: 
        print("Student ID Doesn't Exist")

In [156]:
def get_student_name(student_id):
    cur.execute("SELECT Student_Name FROM students WHERE Student_ID = " + str(student_id))
    data = cur.fetchall()
    if data:
        return data[0][0]
    else:
        print("Student Name Doesn't Exist")

In [157]:
def get_student_schedule(student_id):
    try:
        cur.execute("SELECT * FROM i" + str(student_id) + ";")
        data = cur.fetchall()
        if data:
            return [d[0] for d in data]
        else: 
            print("...")
    except sqlite3.OperationalError: 
        print("table doesn't exist")

In [158]:
get_student_schedule(116274081)

['CMSC330', 'CMSC351', 'CMSC350']

In [159]:
def conflict(c1, c2):
    # Idea is to check if there is a conflict for any timing listed. So iterate over all the meetings 
    # and return false if there is any overlap at all. 
    return False
def add_course(course_id, student_id):
    cur.execute('''
               CREATE TABLE IF NOT EXISTS i%s 
              ([Course] TEXT)
              ''' % student_id)
    cur.execute("""SELECT * FROM i{}""".format(student_id))
    data = cur.fetchall()
    data = [t[0] for t in data]
    print(data)
    if course_id in data:
        print("Student already registered for the course")
        return False
    # Check for any conflicts before adding course. 
    for course in data:
        if conflict(course, course_id):
            print("Course conflict with: " + str(course))
            return False
    cur.execute("""INSERT INTO i{} (Course) VALUES ({});""".format(student_id, "'" + course_id + "'") )
    conn.commit()

In [160]:
add_course("CMSC350", "116274081")

['CMSC330', 'CMSC351', 'CMSC350']
Student already registered for the course

False

In [161]:
get_student_schedule("116274081")

['CMSC330', 'CMSC351', 'CMSC350']